
/* criar uma regra  */
*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #c0bcbc;
}

.header{
    background-color: gray;
    text-align: center;
    padding: 40px 0 ;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.container{
    display: flex;
}
.navbar{
    width: 30%;
    padding: 30px;
    display: flex;
    background-color: #acabab;
}
.content{
    width: 70%;
    padding: 20px;
    background-color: #f1e5e5;
    border-radius: 50px 0;

}
.footer{
    background-color: #6d6d6d;
    padding: 30px;
    text-align: center;
    color: aliceblue;
    
}
ul{
   list-style: none; 
   
}
li{
    background-color: blue;
    width: 180px;
    text-align: center;
    border-radius: 10px 0px ;
    box-shadow: 0px 0px 8px 1px white;
    font-size: 15pt;
    margin-top: 5px;
}
a{
    text-decoration: none;
    color: white;
    margin-top: 2px;
}

.titulo{
    color: #fff;
    font-size: 70px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px black;
}